{% extends 'base.html' %}

{% block content %}

<h1>Projects</h1>
    <table>
    <tr>

        <th style="width: 400px; text-align: left">Title</th>
        <th style="width: 100px; text-align: left">Vote</th>
        <th style="width: 100px; text-align: left">Ratio</th>
        <th style="width: 200px; text-align: left">Created</th>
        <th></th>
    </tr>
    {% for project in projects %}
        <tr>

            <td style="width: 400px">{{ project.title }}</td>
            <td style="width: 100px">{{ project.vote_total }}</td>
            <td style="width: 100px">{{ project.vote_ratio }}</td>
            <td style="width: 200px">{{ project.created }}</td>
            <td style="width: 200px"><a href="{% url 'project' project.id %}" style="padding-right: 20px">View</a>
                <a href="{% url 'update-project' project.id %}" style="padding-right: 20px">Edit</a>
                <a href="{% url 'delete-project' project.id %}" style="padding-right: 20px">Delete</a></td>
        </tr>
    {% endfor %}
    </table>



{% endblock %}
